/* Message.css */
.tbs-message {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.tbs-message p {
    margin: 0;
    font-size: 0.9em;
    color: #ffffff;
}

@media (max-width: 768px) {
    .tbs-message {
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 0px;
        margin-top: 60px;
        text-align: center;
    }
}